/* Big Shoulders Display */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('../fonts/BigShouldersDisplay.woff2') format('woff2'),
        url('../fonts/BigShouldersDisplay.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Now Display Bold */
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay-Bold.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Helvetica Now Display Light Italic */
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay-LightItalic.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Helvetica Now Display Medium */
@font-face {
    font-family: 'HelveticaNowDisplay';
    src: url('../fonts/HelveticaNowDisplay-Medium.woff2') format('woff2'),
        url('../fonts/HelveticaNowDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Henri Didot */
@font-face {
    font-family: 'HenriDidot';
    src: url('../fonts/HenriDidot.woff2') format('woff2'),
        url('../fonts/HenriDidot.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('../fonts/BigShouldersDisplay.ttf') format('woff2-variations');
}

