/* //////con8 page///// */

.con8_project {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.con8_project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7d7d7;
    /* background-image: url(../../images/project_bg.png); */
    background-size: cover;

    opacity: 0.3;

    z-index: -1;
}

.con8_project .material-symbols-outlined {
    display: block;
    transform: translate(1800px, 50px);
    font-size: 40px;
    cursor: pointer;
}
.inner {
    padding: 150px 180px;
    display: flex;
    gap: 50px;
    margin: auto;
}

.inner .left h3 {
    font-size: 120px;
    line-height: 80px;
    font-family: 'STIX Two Text';
    width: 400px;
    color: #b05276;
}
.inner .left h3 span {
    font-size: 80px;
    color: #b05276;
    display: block;
    transform: translateY(20px);
}
.inner .left p {
    font-size: 35px;
    margin-top: 50px;
    color: #333;
    font-weight: 500;
}
.inner .left ul {
    margin-top: 50px;
    width: 700px;
}
.inner .left ul li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.inner .left ul li:nth-child(1) {
    margin-bottom: 12px;
    font-size: 17px;
}
.inner .left ul li:nth-child(2) {
    margin-bottom: 60px;
}
.inner .left ul li:nth-child(3),
.inner .left ul li:nth-child(4) {
    color: #555;
    font-weight: 500;
}

.inner .right img {
    width: 830px;
    height: 500px;
    border-radius: 10px;
    border: 0.5px solid #dcdcdc;
}
.inner .right span {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-left: 300px;
}
.inner .right span a {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    transform: translateX(290px);

    width: 100px;
    height: 80px;
    /* background-color: #d4da94; */
    background-image: url(../../images/flowerbtn.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.inner .right span a:hover {
    /* background-color: #b05276; */
    cursor: pointer;
    transform: translateX(290px) scale(1.2) rotate(45deg);
}

.inner .right ul {
    display: flex;
    gap: 100px;
    transform: translateX(605px);
    margin-top: 15px;
}
.inner .right ul li {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
