/* //////con8 page///// */

.con8_project {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.con8_project .material-symbols-outlined {
    display: block;
    transform: translate(1800px, 50px);
    font-size: 40px;
    cursor: pointer;
}
.inner {
    padding: 150px 180px;
    display: flex;
    gap: 50px;
    margin: auto;
}

.inner .left h3 {
    font-size: 120px;
    line-height: 80px;
    font-family: 'STIX Two Text';
    width: 400px;
    color: #b05276;
}
.inner .left h3 span {
    font-size: 80px;
    color: #b05276;
    display: block;
    transform: translateY(20px);
   
  
  
}
.inner .left p {
    font-size: 35px;
    margin-top: 50px;
    color: #333;
    font-weight: 500;
  
}
.inner .left ul {
    margin-top: 50px;
    width: 700px;
  
    
}
.inner .left ul li {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
}
.inner .left ul li:nth-child(1) {
    margin-bottom: 12px;
    font-size: 17px;
}
.inner .left ul li:nth-child(2) {
    margin-bottom: 40px;
}
.inner .left ul li:nth-child(3),
.inner .left ul li:nth-child(4) {
    color: #555;
    font-weight: 500;
}

.inner .right img {
    width: 830px;
    height: 500px;
}
.inner .right span {
    display: flex;
    gap: 90px;
    margin-top: 50px;
}
.inner .right span a {
    width: 370px;
    height: 60px;
    font-size: 20px;
    letter-spacing: 1.5px;
    background-color: #d4da94;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 60px;
}
.inner .right span a:hover {
    background-color: #b05276;
    font-weight: 500;
    cursor: pointer;
}
s